html {
    background-color: antiquewhite;
    color: #10403B;
}

h1, h2 {
    color: #127369;
}

h3 {
    color: #4C5958;
}

#tv-ingekocht {
    color: cornflowerblue;
}
#tv-verkocht {
    color: darkolivegreen;
}
#tv-nog-te-verkopen {
    color: tomato;
}